.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
  flex-shrink: 0; /* Prevents the header from shrinking */
}

.App-header h1 {
  margin: 0; /* Removes default margin */
}

.app-content {
  flex-grow: 1; /* Allows the content to grow and fill available space */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto; /* Adds scroll if content overflows */
}

.app-button {
  margin: 0 10px;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.app-button.active,
.app-button:hover {
  background-color: #21a1f1;
}

.App-footer {
  background-color: #282c34;
  color: white;
  padding: 20px 0;
  flex-shrink: 0; /* Prevents the footer from shrinking */
}
